<div class="menu">
  <div class="navibar">
    <%= link_to t('activerecord.models.virtual_environment'), virtual_environments_path %>
    <%= link_to t('activerecord.models.project'), projects_path %>
    <%= link_to t('activerecord.models.machine'), machines_path %>
  </div>
</div>
