<div id="content_detail">
  <h4><%= t('page.editing', :model => t('activerecord.models.project')) %></h4>
  <%= render 'form' %>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.showing', :model => t('activerecord.models.project')), @project %></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.project')), projects_path %></li>
  </ul>
</div>
