body{
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
  background: #A0D5D6;
}

a.hover{:background-color: transparent}

strong{
  font-weight: bold;
}

h1{
  font-size: 180%;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 120%;
}

h2{
  font-size: 160%;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1.resource_title{
  line-height: 140%;
}

h2.resource_title{
  line-height: 140%;
}

h3{
  font-size: 150%;
  margin-top: 5px;
  margin-bottom: 10px;
}

h4{
  font-size: 120%;
  margin-top: 5px;
  margin-bottom: 10px;
}

#page_title {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQANfv1b8Z0QWAwlwc3cwwgVhAiBFYEFkAbAgugBIEADcVxNnc7mNTgAAAABJRU5ErkJggg==) repeat;
}
#required {
  color: #ff0000;
}

form{
  padding: 0;
}

label {
  font-weight: bold;
}

textarea {
  width: 40em;
  height: 6em;
}

li{
  padding-bottom: 3px;
}

div.navibar li {
  padding: 10px 0;
  float: left;
  display: block;
  font-weight: bold;
  width: 100px;
  text-align: center;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.navi_on { background: #fff; }
.navi_on a { text-decoration:none; }
.navi_on a:link { color: #000; }
.navi_on a:visited { color: #000; }
.navi_off { background: #789AA1; }
.navi_off a:link { text-decoration:none; }
.navi_off a:link { color: #fff; }
.navi_off a:visited { color: #fff; }

div#content{
  padding-top: 0px;
  padding-right: 4px;
  clear: both;
}
div#content_detail{
  width: 750px;
  float: left;
  padding: 15px;
  background: #fff;
}
div#content_list{
  word-wrap: normal;
}
div#submenu{
  margin-left: 10px;
  width: 190px;
  padding: 5px 0 5px 30px;
  float: left;
  border: 1px solid #AD9A27;
  background: #fff;
}

div.header_and_footer{
  padding: 5px;
  clear: both;
  background: #A0D5D6;
}
div.header_and_footer a{
  color: #fff;
}

div.copyright{
  color: #777777;
  font-size: 80%;
}

table{
  border-top: 1px solid #e2e8e8;
}
table.index{
  width: 100%;
}
td, th{
  border-bottom: 1px solid #e2e8e8;
  border-right: 1px dotted #fff;
  padding: 5px;
  word-break: break-all
}
th {
  color: #ffffff;
  background: #304345;
}
th a, th a:visited {
  color: #fff;
}
th a:hover {
  color: #CC2738;

}
th.action_column {
  width: 45px;
}

tr:hover {
background: #f5fc8d;
}
.line0{
  background: #fff;
}
.line1{
  background: #DCEBDD;
}
