<div id="content_detail">
  <h4><%= t('page.new', :model => t('activerecord.models.machine')) -%></h4>
  <%= render 'form' %>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.machine')), machines_path %></li>
  </ul>
</div>
